# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r
language: R
sudo: required
cache: packages

os:
  - linux

r_check_args: --as-cran

matrix:
  include:
  - name: "owncloud | R release"
    os: linux
    r: release
    r_packages:
    - R6
    - httr
    - jsonlite
    - testthat
    - covr
    env:
      matrix:
      - NOT_CRAN=true
    services: docker
    apt_packages: 
      - libxml2-dev
      - libsodium-dev
    before_install:
    - docker run --name owncloud -d -p 8080:8080 owncloud/server:latest
  - name: "owncloud | R devel"
    os: linux
    r: devel
    r_packages:
    - R6
    - httr
    - jsonlite
    - testthat
    - covr
    env:
      matrix:
      - NOT_CRAN=true
    services: docker
    apt_packages:  
      - libxml2-dev
      - libsodium-dev
    before_install:
    - docker run --name owncloud -d -p 8080:8080 owncloud/server:latest
  - name: "nextcloud | R release"
    os: linux
    r: release
    r_packages:
    - R6
    - httr
    - jsonlite
    - testthat
    - covr
    env:
      matrix:
      - NOT_CRAN=true
    services: docker
    apt_packages:  
      - libxml2-dev
      - libsodium-dev
    before_install:
    - docker network create nextnet
    - docker run --network nextnet --name nextcloud -e SQLITE_DATABASE='nextcloud'  -e NEXTCLOUD_ADMIN_USER='admin' -e NEXTCLOUD_ADMIN_PASSWORD='admin' -d -p 0.0.0.0:8080:80 nextcloud
  - name: "nextcloud | R devel"
    os: linux
    r: devel
    r_packages:
    - R6
    - httr
    - jsonlite
    - testthat
    - covr
    env:
      matrix:
      - NOT_CRAN=true
    services: docker
    apt_packages:  
      - libxml2-dev
      - libsodium-dev
    before_install:
    - docker network create nextnet
    - docker run --network nextnet --name nextcloud -e SQLITE_DATABASE='nextcloud'  -e NEXTCLOUD_ADMIN_USER='admin' -e NEXTCLOUD_ADMIN_PASSWORD='admin' -d -p 0.0.0.0:8080:80 nextcloud

after_script:
 - ./travis-tool.sh dump_logs
 
after_success:
 - Rscript -e 'library(covr); codecov()'

notifications:
  email:
    on_success: change
    on_failure: change
