# Build

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: R ${{ matrix.config.r }} | ${{ matrix.config.provider }} | ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - {os: ubuntu-20.04, r: '4.0.5', provider: 'owncloud', rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"}
          - {os: ubuntu-20.04, r: '4.0.5', provider: 'nextcloud', rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"}

    env:
      NOT_CRAN: true

    steps:
      - uses: actions/checkout@v2
      #Docker OwnCloud set-up
      - name: OwnCloud set-up
        if: ${{matrix.config.provider == 'owncloud'}}
        run: |
          docker run --name owncloud -d -p 8080:8080 owncloud/server:latest
      #Docker NextCloud set-up
      - name: NextCloud set-up
        if: ${{matrix.config.provider == 'nextcloud'}}
        run: |
          docker network create nextnet
          docker run --network nextnet --name nextcloud -e SQLITE_DATABASE='nextcloud'  -e NEXTCLOUD_ADMIN_USER='admin' -e NEXTCLOUD_ADMIN_PASSWORD='admin' -d -p 0.0.0.0:8080:80 nextcloud
      #R Set-up
      - name: Set up R ${{ matrix.config.r }}
        uses: r-lib/actions/setup-r@v1
        with:
          r-version: ${{ matrix.config.r }}
      #Install dependencies
      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v1
      #Check R Package
      - name: Check R package
        uses: r-lib/actions/check-r-package@check-r-package
        with:
          artifact-name: ocs4R_r-${{ matrix.config.r }}_${{matrix.config.provider}}_${{ matrix.config.os }}-results
